---
import Layout from "../layouts/layout.astro";
---

<Layout
  title="Beginning Balance | WWU Operating Budgets | Western Washington University">
  <div class="page-content">
    <div class="region-wrapper">
    <div class="card-1col" >
        <div>    
            <h1 class="title">
              Beginning Fund Balance $36.1M</h1>
        </div>
    
    <div class="card-1col" >
        <div class="wwu-card">    
            <h2 class="title">
              <a href="#">Local Operating Revenue $202.7M</a></h2>
        </div>
      </div>


        <div class="card-1col" >
          <div class="wwu-card">    
            <h2 class="title">
              <a href="https://public.tableau.com/views/FinancialReview-Revenues/DivisionalBudgets?:language=en-US&publish=yes&:sid=&:display_count=n&:origin=viz_share_link">Divisional Budget</a></h2>
              <p class="body no-margin--bottom">Division Budgets Historical Trends 2019 - 2023</p>
            </div>
          </div>
    
            <div class="wwu-card" >    
                <h2 class="title">
                  <a href="#">Programmatic Colleges, department, etc</a></h2>
            </div>
    
            <div class="card-3col" >
                <div class="wwu-card" >    
                    <h2 class="title">
                      <a href="#">Salaries and Benefits $189.1M</a></h2>
                </div>
            
                    <div class="wwu-card" >    
                        <h2 class="title">
                          <a href="#">Goods and Services $27.2M</a></h2>
                    </div>
            
                    <div class="wwu-card" >    
                        <h2 class="title">
                          <a href="#">Misc Transfers, In 1/5M / (Out)</a></h2>
                          <p class="body">Sums = zero across University</p>
                    </div></div>
    
            <div class="card-1col">
        <div>    
            <h2 class="title">Ending Fund Balance $24M</h2>
        </div>
   

</div>
</layout>