---
import Layout from "../layouts/layout.astro";
---


<Layout
  title="Total Expenses | WWU Operating Budget | Western Washington University"
>

  <main id="main-content" class="page-content">
    <div class="region-wrapper">
        <h1 >Total Expenses (<u>State</u> Operating)</h1>
        <p>Made up of</p>	
    
    <div class="card-2col">
            <div class="wwu-card">    
                <h2 class="title">
                  <a href="#">Salaries + Benefits $189.1M</a></h2>
            </div>
    
            <div class="wwu-card">    
                <h2 class="title">
                  <a href="#">Goods + Services $27.2M</a></h2>
            </div>
        </div>
    
            <div class="wwu-card" >    
                <h3 class="title">
                  <a href="#">Local Operating Expenses 216.3M</a></h3>
            </div>
    
            <div class="card-1col">
                <div class="wwu-card">    
                    <h2 class="title">
                      <a href="#">Compliance: Accruals & Deferrals $10.6M</a></h2>
                </div>
    
                <div class="wwu-card" >    
                    <h3 class="title">
                      <a href="#">Net Pension + OPEB Contra-Expenses $10.5M</a></h3>
                </div>
    
            </div>
    
		</div>
  </main>
</Layout>