---
import Layout from "../layouts/layout.astro";
---


<Layout
  title="Total Revenue & Expenses | WWU Operating Budget | Western Washington University">
 <div class="page-content">
    <div class="region-wrapper">
      <h1>Revenue and Expenses</h1>

      <h2>Tuition and Fees Revenues</h2>
      <p>Made up of</p>	
  
  <div class="card-1col">
          <div class="wwu-card standard-padding dark-blue-bg">    
            <h3 class="title">Tuition + Fees $117.7M</h3>
                  <p>Tuition is the amount that Western charges students for instruction and the amount of revenue depends on enrollments. 
                    However, only a portion of the tuition revenue collected can be used to support university operations. By law, tuition includes an operating fee and a building fee. 
                    The building fee revenue can only be used for building projects and maintenance.</p>
  
            </div>
  
  <div class="card-2col--flex">    
        <div class="wwu-card standard-padding bordered full-height">   
              <h3 class="title">Net Operating Tuition $93M</h3>
                <p>Net Operating Revenue flows into the total local operating budget (see below.)</p>
        </div>

        <div class="wwu-card standard-padding light-blue-bg full-height" >    
              <h3 class="title">Appropriate Earmarks $24.7M</h3>
              <p>Money that is restricted for specific users, including financial aid and building fees.</p>
             
        </div>
    </div>
  </div>
    <h2 class="full-width">Total Local Operating Revenues </h2>

       
   <div class="card-3col">
        <div class="wwu-card standard-padding bordered full-height" >    
              <h3 class="title">Net Operating Tuition $93M</h3>
             <p> <strong><em>Net Operating Revenue flows into the total local operating budget (see below.)</em></strong></p>
            </div>
        
        <div class="wwu-card standard-padding bordered full-height" >    
              <h3 class="title">Administrative Services Assessment $4.9M</h3>
             <p>The Administrative Services Assessment (ASA) is a fee charged to self-supporting departments to partially recapture overhead costs for providing general administrative support that is funded by state operating revenue. ASA fee revenue is transferred into the university’s institutional budget and used to support internal funding requests and contingency needs.</p>
            </div>
  
            <div class="wwu-card standard-padding bordered full-height" >    
              <h3 class="title">Other $.8M</h3>
              <p><strong>Invest. Income & Differential Tuition.</strong></p>
              <p>This revenue category is comprised of differential tuition revenue for a few specific graduate programs (e.g., Clinical Doctorate in Audiology, Everett MBA program, and the Counseling Training program) and internal service revenue associated with supplies and services provided by self-supporting areas to the campus community (e.g., ATUS printing stations, printing and copier services, and facilities maintenance and repairs). Earned income from university investments is also included in this amount.</p>
             
            </div>
      </div>

      
      
<h2>Total Expenses (<u>State</u> Operating)</h2>
        <p>Made up of</p>	
    
    <div class="card-2col">
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Salaries + Benefits $189.1M</a></h3>
                  <p class="body no-margin--bottom">Includes all expenses paid to employees regardless of job type or full-time status, and all benefits 
                        such as retirement 
                        or healthcare costs.</p>
            </div>
    
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Goods + Services $27.2M</a></h3>
                  <p class="body no-margin--bottom">Includes all general goods and services expenditures, including contracted services (e.g., legal, custodial, repairs, 
                        printing), travel-related activities, and non-capitalized equipment.</p>
            </div>
        </div>
    
            <div class="wwu-card" >    
                <h4 class="title">
                  <a href="#">Local Operating Expenses 216.3M</a></h4>
                  <p class="body no-margin--bottom">The total annual operating expenses (sum of Salary + Benefits and Goods & Services). </p>
            </div>
    
            <div class="card-1col">
                <div class="wwu-card">    
                    <h3 class="title">
                      <a href="#">Compliance: Accruals & Deferrals $10.6M</a></h3>
                      <p class="body no-margin--bottom">This category that reflects accounting adjustments that ensure revenues and expenditures are 
                        reported in the correct fiscal year. For example, if an invoice is paid in June for a membership that begins in July an accrual entry is recorded to 
                        move the expense to the July fiscal year. Deferrals occur when the exchange of cash precedes the delivery of goods and services (prepaid expense & 
                        deferred revenue).</p>
                </div>
    
                <div class="wwu-card" >    
                    <h4 class="title">
                      <a href="#">Net Pension + OPEB Contra-Expenses $10.5M</a></h4>
                      <p class="body no-margin--bottom">These expenses reflect Western's promise to pay employee 
                        postretirement benefits, such as pension and medical insurance. 
                        Estimated changes to the future payment increase or decrease total expenses.</p>
                </div>
    
            </div>
    
		</div>
  </div>

</Layout>