---
import Layout from "../layouts/layout.astro";
---


<Layout
  title="Total Expenses | WWU Operating Budget | Western Washington University">
 <div class="page-content">
    <div class="region-wrapper">
      <h1>H1 Title of Page Needed</h1>

      <h2>Total Revenues (Operating)</h2>
      <p>Made up of</p>	
  
  <div class="card-1col">
          <div class="wwu-card">    
              <h3 class="title">
                <a href="#">Tuition + Fees $117.7M</a></h3>
          </div>
  
  <div class="card-6col">    
        <div class="wwu-card">   
              <h3 class="title">
                <a href="#">Fees + FA</a></h3>
        </div>
      
        <div class="wwu-card" >    
              <h3 class="title">
                <a href="#">Tuition + Building Fee</a></h3>
        </div>
   
        <div class="wwu-card">   
              <h3 class="title">
              <a href="#">Net Operating Revenue $93M</a></h3>
        </div>

       <div class="wwu-card" >    
              <h3 class="title">
              <a href="#">State Appropriation $104.4M</a></h3>
       </div>

       <div class="wwu-card">   
        <h3 class="title">
        <a href="#">ASA $4.9M</a></h3>

        <div class="wwu-card" >    
          <h3 class="title">
          <a href="#">Other $.8M</a></h3>
   </div>
   
 </div>


       
  
          <div class="card-2col">
              <div class="wwu-card">    
                  <h3 class="title">
                    <a href="#">Allocated Earmarks $24.7M</a></h3>
              </div>
  
              <div class="wwu-card" >    
                  <h4 class="title">
                    <a href="#">Local Operating $202.7M</a></h4>
            </div>
          </div>
  </div>
</div>
      
      
      
      
      
      
      
      
      
      
      
      <h2>Total Expenses (<u>State</u> Operating)</h2>
        <p>Made up of</p>	
    
    <div class="card-2col">
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Salaries + Benefits $189.1M</a></h3>
            </div>
    
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Goods + Services $27.2M</a></h3>
            </div>
        </div>
    
            <div class="wwu-card" >    
                <h4 class="title">
                  <a href="#">Local Operating Expenses 216.3M</a></h4>
            </div>
    
            <div class="card-1col">
                <div class="wwu-card">    
                    <h3 class="title">
                      <a href="#">Compliance: Accruals & Deferrals $10.6M</a></h3>
                </div>
    
                <div class="wwu-card" >    
                    <h4 class="title">
                      <a href="#">Net Pension + OPEB Contra-Expenses $10.5M</a></h4>
                </div>
    
            </div>
    
		</div>
  </div>
</Layout>