---
import Layout from "../layouts/layout.astro";
---


<Layout
  title="Total Revenue & Expenses | WWU Operating Budget | Western Washington University">
 <div class="page-content">
    <div class="region-wrapper">
      <h1>Revenue and Expenses</h1>

      <h2>Total Revenues (Operating)</h2>
      <p>Made up of</p>	
  
  <div class="card-1col">
          <div class="wwu-card">    
              <h3 class="title">
                <a href="#">Tuition + Fees $117.7M</a></h3>
          </div>
  
  <div class="card-4col">    
        <div class="wwu-card">   
              <h3 class="title">
                <a href="#">Fees + FA</a></h3>
        </div>

        <div class="wwu-card" >    
              <h3 class="title">
                <a href="#">Tuition + Building Fee</a></h3>
        </div>
      


 

      
<div class="card-4col">
        <div class="wwu-card">   
              <h3 class="title">
              <a href="#">Net Operating Revenue $93M</a></h3>
        </div>

       <div class="wwu-card" >    
              <h3 class="title">
              <a href="#">State Appropriation $104.4M</a></h3>
       </div>

       <div class="wwu-card">   
        <h3 class="title">
        <a href="#">ASA $4.9M</a></h3>
        </div>

        <div class="wwu-card" >    
          <h3 class="title">
          <a href="#">Other $.8M</a></h3>
   </div>
   <h2> = </h2>
       
   <div class="card-2col">


    <div class="wwu-card" >    
      <h4 class="title">
      <a href="#">Allocated Earmarks $24.7M</a></h4>
</div>


              <div class="wwu-card" >    
                  <h4 class="title">
                    <a href="#">Local Operating $202.7M</a></h4>
            </div>
          </div>
  </div>
</div>
      
      
<h2>Total Expenses (<u>State</u> Operating)</h2>
        <p>Made up of</p>	
    
    <div class="card-2col">
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Salaries + Benefits $189.1M</a></h3>
                  <p class="body no-margin--bottom">Includes all expenses paid to employees regardless of job type or full-time status, and all benefits such as retirement or healthcare costs.</p>
            </div>
    
            <div class="wwu-card">    
                <h3 class="title">
                  <a href="#">Goods + Services $27.2M</a></h3>
                  <p class="body no-margin--bottom">Includes all general goods and services expenditures, including contracted services (e.g., legal, custodial, repairs, printing), travel-related activities, and non-capitalized equipment.</p>
            </div>
        </div>
    
            <div class="wwu-card" >    
                <h4 class="title">
                  <a href="#">Local Operating Expenses 216.3M</a></h4>
                  <p class="body no-margin--bottom">The total annual operating expenses (sum of Salary + Benefits and Goods & Services). </p>
            </div>
    
            <div class="card-1col">
                <div class="wwu-card">    
                    <h3 class="title">
                      <a href="#">Compliance: Accruals & Deferrals $10.6M</a></h3>
                      <p class="body no-margin--bottom">This category that reflects accounting adjustments that ensure revenues and expenditures are reported in the correct fiscal year. For example, if an invoice is paid in June for a membership that begins in July an accrual entry is recorded to move the expense to the July fiscal year. Deferrals occur when the exchange of cash precedes the delivery of goods and services (prepaid expense & deferred revenue).</p>
                </div>
    
                <div class="wwu-card" >    
                    <h4 class="title">
                      <a href="#">Net Pension + OPEB Contra-Expenses $10.5M</a></h4>
                      <p class="body no-margin--bottom">These expenses reflect Western's promise to pay employee postretirement benefits, such as pension and medical insurance. Estimated changes to the future payment increase or decrease total expenses.</p>
                </div>
    
            </div>
    
		</div>
  </div>
</Layout>