<section class="site-footer" aria-label="WWU Operating Budget Footer">
    <div class="footer-region">
      <div class="region region--foter_left"></div>
    </div>
  </section>
  
  <wwu-footer></wwu-footer>