---
import MainNav from "../components/mainnav.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- add contextually relevant title here -->
		
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/png" sizes="32x32" href="./img/Favicon/favicon_package_v0/favicon-32x32.png"> -->
		
		<!-- add CSS includes here -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/main.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/ultimenu-extras.css" /> -->
		
		<!-- meta include inside of the head region -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description"
		content="This is a Proof of Concept application to help Western Washington University digital outreach editors create better alt text using artificial intelligence graphical recognition engines">
		<meta name="keywords"
		content="">
		<meta name="robots" content="index, follow">
		
		<!-- OpenGraph tags for social media -->
		<meta property="og:title" content="">
		<meta property="og:description"
		content="">
		<meta property="og:url" content="">
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Header title="WWU Operating Budget"/>
		</header>
		<slot />
		<footer>
			<Footer/>
		</footer>
		<!-- scripts for ashlar components -->

		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/search.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/pre-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/logo.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/social-media-icons.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-footer.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/main-navigation.js"></script>
		<!-- <script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/accessible-mega-menu.js"></script> -->
		<!-- <script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/menu-extras.js"></script> -->
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/switcher.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	#gemini-area, #azure-area{
		font-size: 1em;
	}

	h1 {
		padding-left: 80px;
	}
	h2 {
		padding-left: 80px
	}
	h3 {
		padding-left: 80px
	}
	p {
		padding-left: 80px;
	}

  

  <!-- Everything below is not tested -->
/* a. Grid -------------------------------------------------------------------*/
.card-2col,
.card-3col,
.card-4col,
.card-5col,
.card-2col--view .view-content,
.card-3col--view .view-content,
.card-4col--view .view-content, {
  display: grid;
  grid-column-gap: var(--space--sm);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.card-2col,
.card-2col--view .view-content {
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 2;
  }
}
.card-3col,
.card-3col--view .view-content {
  --h2-size: var(--font-size--2xl);
  --h3-size: var(--font-size--xl);
  --h4-size: var(--font-size--lg);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 3;
  }
}
.card-4col,
.card-4col--view .view-content {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--lg);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 4;
  }
}

.card,
.wwu-card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  line-height: 1.4;
		padding: calc(1.5rem - 1px);
        margin: 40px;
        border-radius: 8px;
	
  margin-bottom: var(--space--md);
  padding-bottom: var(--space--md);
  border: var(--border-width--sm) solid transparent;
  &:hover,
  &:focus-within {
    z-index: 1;
    .title {
      a:after {
        outline: solid transparent var(--outline-width);
        outline-offset: var(--oline-offset);
        box-shadow: var(--shadow--soft--hover);
      }
    }
  }
  &:focus-within {
    .title {
      a:after {
        outline: dotted var(--oline-color) var(--outline-width);
      }
    }
  }
  .title {
    flex: 0 1 100%;
    margin-top: 0;
    padding: 0 var(--space--xs);
    a {
      display: inline-block;
      text-decoration: none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: var(--transition-speed--fast) var(--ease--standard) box-shadow;
        box-shadow: var(--shadow--soft);
      }
      &:hover,
      &:active {
        color: inherit;
        background: none;
      }
    }
  }
  .location {
    flex: 0 1 100%;
    margin-bottom: var(--space--md);
    padding: 0 var(--space--xs);
    font-style: italic;
  }
  .date {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    font-weight: bold;
  }
  .image {
    flex: 0 1 100%;
    order: -1;
    width: 100%;
    margin-bottom: var(--space--xs);
    img,
    svg {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .taxonomy-terms {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    a {
      position: relative;
    }
  }
  .body {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    .date {
      font-weight: var(--font-weight--semibold);
    }
    a {
      position: relative;
      text-underline-offset: 0.1rem;
    }
    a[href^="mailto:"] {
      word-break: break-all;
    }
    p {
      margin-bottom: var(--space--2xs);
      line-height: 1.5;
    }
  }


</style>