---
import Header from "../components/header.astro";
import MainNav from "../components/mainnav.astro";
import Footer from "../components/footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- add contextually relevant title here -->
		
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/png" sizes="32x32" href="./img/Favicon/favicon_package_v0/favicon-32x32.png"> -->
		
		<!-- add CSS includes here -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/main.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/ultimenu-extras.css" /> -->
		
		<!-- meta include inside of the head region -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description"
		content="This is to help people reviewing Western Washington University's operating expenses better understand the documentation">
		<meta name="keywords"
		content="">
		<meta name="robots" content="index, follow">
		
		<!-- OpenGraph tags for social media -->
		<meta property="og:title" content="">
		<meta property="og:description"
		content="">
		<meta property="og:url" content="">
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
 
			<Header title="WWU Operating Budget"/>
      <MainNav/> 
		</header>
  
    <main id="main-content">
  
		<slot />
    </main>
		<footer>
			<Footer/>
		</footer>
		<!-- scripts for ashlar components -->

		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/search.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/pre-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/logo.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/social-media-icons.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-footer.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/main-navigation.js"></script>
		
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/switcher.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	#gemini-area, #azure-area{
		font-size: 1em;
	}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}
 /* Hover on top tooltip text */
  width: 100%;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*------------------------------------------------------------------------------
Helpers: Columns
--------------------------------------------------------------------------------
For creating multi-column layouts, handy for Drupal views or full HTML content.
Columns will collapse on mobile.
------------------------------------------------------------------------------*/
.column-count--2,
.column-count--3,
.column-count--4,
.column-count--5,
.column-count--6 {
  column-gap: var(--space--sm);
}
@media (min-width: $medium) {
  .column-count--2 {
    column-count: 2;
  }
  .column-count--3 {
    column-count: 3;
  }
  .column-count--4 {
    column-count: 4;
  }
  .column-count--5 {
    column-count: 5;
  }
  .column-count--6 {
    column-count: 6;
  }
}
.grid-column-count--2,
.grid-column-count--3,
.grid-column-count--4,
.grid-column-count--5,
.grid-column-count--6 {
  display: grid;
  grid-column-gap: var(--space--sm);
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}
@media (min-width: $medium) {
  .grid-column-count--2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-column-count--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-column-count--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-column-count--5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-column-count--6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
}


/*------------------------------------------------------------------------------
Molecule: Card Containers
--------------------------------------------------------------------------------
1. Column layouts
  a. Grid
  b. Flex
  c. Section divider
2. Flex layouts
--------------------------------------------------------------------------------
1. Column layouts
------------------------------------------------------------------------------*/
/* a. Grid -------------------------------------------------------------------*/
.card-2col,
.card-3col,
.card-4col,
.card-5col,
.card-6col,
.card-2col--view .view-content,
.card-3col--view .view-content,
.card-4col--view .view-content,
.card-5col--view .view-content,
.card-6col--view .view-content {
  display: grid;
  grid-column-gap: var(--space--sm);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.card-2col,
.card-2col--view .view-content {
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 2;
  }
}
.card-3col,
.card-3col--view .view-content {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--lg);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 3;
  }
}
.card-4col,
.card-4col--view .view-content {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--lg);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 4;
  }
}
.card-5col,
.card-5col--view .view-content {
  --h2-size: var(--font-size--lg);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 5;
  }
}

.card-6col,
.card-6col--view .view-content {
  --h2-size: var(--font-size--md);
  --h3-size: var(--font-size--sm);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .pager {
    grid-column: 1 / span 6;
  }
}

/* b. Flex -------------------------------------------------------------------*/
.card-2col--flex,
.card-3col--flex,
.card-4col--flex,
.card-5col--flex
.card-6col--flex  {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--xs);
  .card,
  .wwu-card,
  .hover-card {
    flex: 0 1 100%;
  }
}
.card-2col--flex {
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(50% - var(--space--xs));
    }
  }
}
.card-3col--flex {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--xl);
  --h4-size: var(--font-size--lg);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(33.33% - var(--space--xs));
    }
  }
}
.card-4col--flex {
  --h2-size: var(--font-size--lg);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(25% - var(--space--xs));
    }
  }
}
.card-5col--flex {
  --h2-size: var(--font-size--lg);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(20% - var(--space--xs));
    }
  }
}
.card-6col--flex {
  --h2-size: var(--font-size--md);
  --h3-size: var(--font-size--sm);
  --h4-size: var(--font-size--sm);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(6% - var(--space--xs));
    }
  }
}
/* a. Section divider --------------------------------------------------------*/
.card--flex--section-divider {
  flex: 0 0 100%;
}
/*------------------------------------------------------------------------------
2. Flex layouts
------------------------------------------------------------------------------*/
.layout--flex {
  .layout__region {
    .wwu-card {
      flex: 1;
      margin: 0 var(--space--xs);
    }
  }
}



</style>
