---
import Header from "../components/header.astro";
import MainNav from "../components/mainnav.astro";
import Footer from "../components/footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- add contextually relevant title here -->
		
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/png" sizes="32x32" href="./img/Favicon/favicon_package_v0/favicon-32x32.png"> -->
		
		<!-- add CSS includes here -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/main.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="./css/ultimenu-extras.css" /> -->
		
		<!-- meta include inside of the head region -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description"
		content="This is to help people reviewing Western Washington University's operating expenses better understand the documentation">
		<meta name="keywords"
		content="">
		<meta name="robots" content="index, follow">
		
		<!-- OpenGraph tags for social media -->
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:url" content="">
		<meta name="generator" content={Astro.generator} />
    
		<title>{title}</title>
	</head>
	<body>
		<header>
 
			<Header title="WWU Operating Budget"/>
      <MainNav/> 
		</header>
  
    <main id="main-content">
  
		<slot />
    </main>
		<footer>
			<Footer/>
		</footer>
		<!-- scripts for ashlar components -->

		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/search.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/pre-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/logo.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-header.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/social-media-icons.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/wwu-footer.js"></script>
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/main-navigation.js"></script>
    <script src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/accordion.js"></script>
		
		<script is:inline src="https://ashlar.blob.core.windows.net/ashlar-theme-files/js/switcher.js"></script>

  </body>
  </html>
<style is:global>
  .card-6col {
    display: grid;
    grid-column-gap: var(--space--sm);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  @media (min-width: 581px) {
    .card-6col {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
    }
  }  

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 100px ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  












</style>


